.div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.imgSize{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.imgSize img{
    width: 100px;
    height: 100px;
    padding: 20px;
}